# Virtual Environment
venv/
.env
.env/
.env.example
# Python cache
__pycache__/
*.pyc

# Database
*.db

# Uploads
uploads/

# ML datasets (large files)
ml/data/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log

# Temp files
*.tmp